In [4]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession

scala_version = '2.12'
spark_version = '3.5.0'
packages = [
    f'org.apache.spark:spark-sql-kafka-0-10_{scala_version}:{spark_version}',
    'org.apache.kafka:kafka-clients:3.6.0'
]
spark = SparkSession.builder.master("local").appName("kafka-example").config("spark.jars.packages", ",".join(packages)).getOrCreate()
spark

In [5]:
packages

['org.apache.spark:spark-sql-kafka-0-10_2.12:3.5.0',
 'org.apache.kafka:kafka-clients:3.6.0']

In [6]:
topic_name = 'turtorial6'
kafka_server = 'localhost:9092'

kafkaDf = spark.read.format("kafka").option("kafka.bootstrap.servers", kafka_server).option("subscribe", topic_name).option("startingOffsets", "earliest").load()

In [11]:
kafkaDf.toPandas()

,key,value,topic,partition,offset,timestamp,timestampType
0,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",turtorial6,0,0,2023-12-14 22:42:16.072,0
1,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",turtorial6,0,1,2023-12-14 22:42:17.076,0
2,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",turtorial6,0,2,2023-12-14 22:42:18.081,0
3,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",turtorial6,0,3,2023-12-14 22:42:19.084,0
4,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",turtorial6,0,4,2023-12-14 22:42:20.087,0
5,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",turtorial6,0,5,2023-12-14 22:42:21.089,0
6,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",turtorial6,0,6,2023-12-14 22:42:22.090,0
7,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",turtorial6,0,7,2023-12-14 22:42:23.094,0
8,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",turtorial6,0,8,2023-12-14 22:42:24.097,0
9,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",turtorial6,0,9,2023-12-14 22:42:25.102,0
10,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",turtorial6,0,10,2023-12-14 22:42:26.104,0
11,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",turtorial6,0,11,2023-12-14 22:42:27.105,0
12,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",turtorial6,0,12,2023-12-14 22:42:28.107,0
13,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",turtorial6,0,13,2023-12-14 22:42:29.110,0
14,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",turtorial6,0,14,2023-12-14 22:42:30.113,0
15,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",turtorial6,0,15,2023-12-14 22:42:31.115,0
16,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",turtorial6,0,16,2023-12-14 22:42:32.117,0
17,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",turtorial6,0,17,2023-12-14 22:42:33.120,0
18,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",turtorial6,0,18,2023-12-14 22:42:34.122,0
19,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",turtorial6,0,19,2023-12-14 22:42:35.124,0
20,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",turtorial6,0,20,2023-12-14 22:42:36.126,0
21,None,"[123, 34, 110, 117, 109, 98, 101, 114, 34, 58,...",turtorial6,0,21,2023-12-14 22:42:37.128,0

In [12]:
from pyspark.sql.functions import col, concat, lit
#keep running this cell to get new message from the Kafka topic
kafkaDf.select(col('topic'),col('offset'),col('value').cast('string').substr(12,1).alias('rand_number')).toPandas()

         topic  offset rand_number
0   turtorial6       0           0
1   turtorial6       1           1
2   turtorial6       2           2
3   turtorial6       3           3
4   turtorial6       4           4
5   turtorial6       5           5
6   turtorial6       6           6
7   turtorial6       7           7
8   turtorial6       8           8
9   turtorial6       9           9
10  turtorial6      10           1
11  turtorial6      11           1
12  turtorial6      12           1
13  turtorial6      13           1
14  turtorial6      14           1
15  turtorial6      15           1
16  turtorial6      16           1
17  turtorial6      17           1
18  turtorial6      18           1
19  turtorial6      19           1
20  turtorial6      20           2
21  turtorial6      21           2
22  turtorial6      22           2
23  turtorial6      23           2
24  turtorial6      24           2
25  turtorial6      25           2
26  turtorial6      26           2
27  turtorial6      27           2
28  turtorial6      28           2
29  turtorial6      29           2
30  turtorial6      30           3
31  turtorial6      31           3
32  turtorial6      32           3
33  turtorial6      33           3
34  turtorial6      34           3
35  turtorial6      35           3
36  turtorial6      36           3
37  turtorial6      37           3
38  turtorial6      38           3
39  turtorial6      39           3
40  turtorial6      40           4
41  turtorial6      41           4
42  turtorial6      42           4
43  turtorial6      43           4
44  turtorial6      44           4
45  turtorial6      45           4
46  turtorial6      46           4
47  turtorial6      47           4
48  turtorial6      48           4
49  turtorial6      49           4
50  turtorial6      50           5
51  turtorial6      51           5
52  turtorial6      52           5
53  turtorial6      53           5

In [13]:
batchDF = kafkaDf.select(col('topic'),col('offset'),col('value').cast('string').substr(12,1).alias('rand_number'))

from time import sleep
from IPython.display import display, clear_output

for x in range(0, 2000):
    try:
        print("Showing live view refreshed every 5 seconds")
        print(f"Seconds passed: {x*5}")
        display(batchDF.toPandas())
        sleep(5)
        clear_output(wait=True)
    except KeyboardInterrupt:
        print("break")
        break
print("Live view ended...")

Showing live view refreshed every 5 seconds
Seconds passed: 25

         topic  offset rand_number
0   turtorial6       0           0
1   turtorial6       1           1
2   turtorial6       2           2
3   turtorial6       3           3
4   turtorial6       4           4
..         ...     ...         ...
91  turtorial6      91           9
92  turtorial6      92           9
93  turtorial6      93           9
94  turtorial6      94           9
95  turtorial6      95           9

[96 rows x 3 columns]

break
Live view ended...

In [14]:
batchCountDF = batchDF.groupBy('rand_number').count()
for x in range(0, 2000):
    try:
        print("Showing live view refreshed every 5 seconds")
        print(f"Seconds passed: {x*5}")
        display(batchCountDF.toPandas())
        sleep(5)
        clear_output(wait=True)
    except KeyboardInterrupt:
        print("break")
        break
print("Live view ended...")

Showing live view refreshed every 5 seconds
Seconds passed: 25

  rand_number  count
0           7     11
1           3     11
2           8     11
3           0      1
4           5     11
5           6     11
6           9     11
7           1     11
8           4     11
9           2     11

break
Live view ended...

In [15]:
streamRawDf = spark.readStream.format("kafka").option("kafka.bootstrap.servers", kafka_server).option("subscribe", topic_name).load()
streamDF = streamRawDf.select(col('topic'),col('offset'),col('value').cast('string').substr(12,1).alias('rand_number'))
checkEvenDF = streamDF.withColumn('Is_Even',col('rand_number').cast('int') % 2 == 0 )

In [16]:
from random import randint
randNum=str(randint(0,10000))
q1name = "queryNumber"+randNum
q2name = "queryCheckEven"+randNum

stream_writer1 = (streamDF.writeStream.queryName(q1name).trigger(processingTime="5 seconds").outputMode("append").format("memory"))
stream_writer2 = (checkEvenDF.writeStream.queryName(q2name).trigger(processingTime="5 seconds").outputMode("append").format("memory"))

query1 = stream_writer1.start()    
query2 = stream_writer2.start()

23/12/14 22:44:38 WARN ResolveWriteToStream: Temporary checkpoint location created which is deleted normally when the query didn't fail: /tmp/temporary-33e797b7-b59d-413b-aa37-cffa1f6521b8. If it's required to delete it under any circumstances, please set spark.sql.streaming.forceDeleteTempCheckpointLocation to true. Important to know deleting temp checkpoint folder is best effort.
23/12/14 22:44:38 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.
23/12/14 22:44:38 WARN ResolveWriteToStream: Temporary checkpoint location created which is deleted normally when the query didn't fail: /tmp/temporary-3595300b-807c-40b5-a71c-2df2ce6e0ece. If it's required to delete it under any circumstances, please set spark.sql.streaming.forceDeleteTempCheckpointLocation to true. Important to know deleting temp checkpoint folder is best effort.
23/12/14 22:44:38 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.

In [17]:
for x in range(0, 2000):
    try:
        print("Showing live view refreshed every 5 seconds")
        print(f"Seconds passed: {x*5}")
        result1 = spark.sql(f"SELECT * from {query1.name}")
        result2 = spark.sql(f"SELECT * from {query2.name}")
        display(result1.toPandas())
        display(result2.toPandas())
        sleep(5)
        clear_output(wait=True)
    except KeyboardInterrupt:
        print("break")
        break
print("Live view ended...")

Showing live view refreshed every 5 seconds
Seconds passed: 45

         topic  offset rand_number
0   turtorial6     143           1
1   turtorial6     144           1
2   turtorial6     145           1
3   turtorial6     146           1
4   turtorial6     147           1
5   turtorial6     148           1
6   turtorial6     149           1
7   turtorial6     150           1
8   turtorial6     151           1
9   turtorial6     152           1
10  turtorial6     153           1
11  turtorial6     154           1
12  turtorial6     155           1
13  turtorial6     156           1
14  turtorial6     157           1
15  turtorial6     158           1
16  turtorial6     159           1
17  turtorial6     160           1
18  turtorial6     161           1
19  turtorial6     162           1
20  turtorial6     163           1
21  turtorial6     164           1
22  turtorial6     165           1
23  turtorial6     166           1
24  turtorial6     167           1
25  turtorial6     168           1
26  turtorial6     169           1
27  turtorial6     170           1
28  turtorial6     171           1
29  turtorial6     172           1
30  turtorial6     173           1
31  turtorial6     174           1
32  turtorial6     175           1
33  turtorial6     176           1
34  turtorial6     177           1
35  turtorial6     178           1
36  turtorial6     179           1
37  turtorial6     180           1
38  turtorial6     181           1
39  turtorial6     182           1
40  turtorial6     183           1
41  turtorial6     184           1
42  turtorial6     185           1
43  turtorial6     186           1
44  turtorial6     187           1
45  turtorial6     188           1
46  turtorial6     189           1
47  turtorial6     190           1
48  turtorial6     191           1
49  turtorial6     192           1
50  turtorial6     193           1
51  turtorial6     194           1
52  turtorial6     195           1
53  turtorial6     196           1
54  turtorial6     197           1
55  turtorial6     198           1

         topic  offset rand_number  Is_Even
0   turtorial6     143           1    False
1   turtorial6     144           1    False
2   turtorial6     145           1    False
3   turtorial6     146           1    False
4   turtorial6     147           1    False
5   turtorial6     148           1    False
6   turtorial6     149           1    False
7   turtorial6     150           1    False
8   turtorial6     151           1    False
9   turtorial6     152           1    False
10  turtorial6     153           1    False
11  turtorial6     154           1    False
12  turtorial6     155           1    False
13  turtorial6     156           1    False
14  turtorial6     157           1    False
15  turtorial6     158           1    False
16  turtorial6     159           1    False
17  turtorial6     160           1    False
18  turtorial6     161           1    False
19  turtorial6     162           1    False
20  turtorial6     163           1    False
21  turtorial6     164           1    False
22  turtorial6     165           1    False
23  turtorial6     166           1    False
24  turtorial6     167           1    False
25  turtorial6     168           1    False
26  turtorial6     169           1    False
27  turtorial6     170           1    False
28  turtorial6     171           1    False
29  turtorial6     172           1    False
30  turtorial6     173           1    False
31  turtorial6     174           1    False
32  turtorial6     175           1    False
33  turtorial6     176           1    False
34  turtorial6     177           1    False
35  turtorial6     178           1    False
36  turtorial6     179           1    False
37  turtorial6     180           1    False
38  turtorial6     181           1    False
39  turtorial6     182           1    False
40  turtorial6     183           1    False
41  turtorial6     184           1    False
42  turtorial6     185           1    False
43  turtorial6     186           1    False
44  turtorial6     187           1    False
45  turtorial6     188           1    False
46  turtorial6     189           1    False
47  turtorial6     190           1    False
48  turtorial6     191           1    False
49  turtorial6     192           1    False
50  turtorial6     193           1    False
51  turtorial6     194           1    False
52  turtorial6     195           1    False
53  turtorial6     196           1    False
54  turtorial6     197           1    False
55  turtorial6     198           1    False

break
Live view ended...